$body-text-color: #533738;
$white-text-color: white;
$num-bg-color: #8d7370;
$btn-bg-color: #cc8b86;
$application-text-color: #f6ede9;
$brown-bg-color: #8d7370;
$body-bg-color: #f6ede9;
$pink-bg-color: #e2c4ba;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background: $body-bg-color;
    color: $body-text-color;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.container--lg {
    width: 93%;
    margin: 0 auto;
}
.container--md {
    width: 80%;
    margin: 0 auto;
}
.title-lg {
    font-size: 50px;
    line-height: 62px;
    @media (max-width: 1400px) {
        font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1400 - 320)));
    }
}
.title-md {
    font-size: 40px;
    @media (max-width: 1400px) {
        font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1400 - 320)));
    }
}
.title-sm {
    font-size: 30px;
    @media (max-width: 1400px) {
        font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1400 - 320)));
    }
}
.light {
    color: $white-text-color;
}
p {
    line-height: 30px;
    @media (max-width: 1400px) {
        font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1400 - 320)));
    }
}
.btn {
    background: $btn-bg-color;
    padding: 26px 70px;
    @media (max-width: 1400px) {
        font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1400 - 320)));
    }
}
a {
    color: $body-text-color;
    @media (max-width: 1400px) {
        font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1400 - 320)));
    }
}

.header {
    background: white url("../img/bg-header.png") 0 0 / cover no-repeat;

    &__top {
        padding-top: 35px;
        font-size: 16px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        flex-basis: 15%;
    }
    &__menu {
        flex-basis: 85%;
    }

    &__menu-items {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1400px) {
            font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1400 - 320)));
        }
    }

    &__content {
        padding: 100px 0 170px 0;
    }

    &__content-inner {
        max-width: 45%;
    }
    &__content-text {
        padding: 30px 0;
    }
}

.about {
    &__title {
        text-align: center;
        margin: 70px 0 50px 0;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    &__main-img {
        display: block;
    }

    &__main-text {
        p:nth-child(2) {
            padding-top: 45px;
        }
        margin-left: 65px;
    }

    &__achievements {
        background: $brown-bg-color;
        padding: 90px 0;
    }
    &__achievements-items {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

.works {
    padding-bottom: 70px;
    padding-top: 65px;

    &__title {
        padding-bottom: 50px;
    }

    &__main {
        display: grid;
        grid-template: 500px 500px / 1fr 22% 1fr;
        grid-template-areas:
            "info-image first-image first-image"
            "second-image second-image third-image";
        grid-auto-flow: dense;
        grid-gap: 20px;
    }

    &__info {
        background: url("../img/works-info.png") 0 0 / cover no-repeat;
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        background-color: rgba(100, 72, 69, 0.8);
        padding: 85px 35px 0;

        h1 {
            text-align: center;
        }
    }
    &__info-text {
        padding-top: 35px;
    }

    &__image-first {
        background: url("../img/works-image.png") 0 0 / cover no-repeat;
        grid-area: first-image;
    }
    &__image-second {
        background: url("../img/works-image(1).png") 0 0 / cover no-repeat;
        grid-area: second-image;
    }
    &__image-third {
        background: url("../img/works-image(2).png") 0 0 / cover no-repeat;
        grid-area: third-image;
    }
    &__next-block {
        padding-top: 35px;
    }
    &__next-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__arrow {
        padding-left: 20px;
        padding-top: 5px;
    }
}

.how-works {
    background-color: $pink-bg-color;
    padding: 60px 0 80px 0;

    &__team {
        padding-bottom: 40px;
    }

    &__title {
        padding-bottom: 50px;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex-basis: 30%;
    }
    &__item:not(:nth-of-type(3)) {
        margin-right: 15px;
    }

    &__img {
        object-fit: cover;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__item-text {
        margin-top: 20px;
    }

    &__how-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 23%;
        max-width: 400px;
    }
    &__how-number {
        background-color: $num-bg-color;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-text-color;
    }
    &__how-text {
        padding-top: 20px;
    }
}

.reviews {
    padding: 75px 0 65px 0;
    &__title {
        text-align: center;
        padding-bottom: 50px;
    }

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        background-color: $btn-bg-color;
        min-width: 72px;
        height: 72px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn:nth-of-type(1) {
        margin-right: 25px;
    }
    &__btn:nth-of-type(2) {
        margin-left: 25px;
    }
    .right {
        transform: scale(-1, 1);
    }

    p:not(:first-of-type) {
        margin-top: 40px;
    }
    &__text {
        padding-right: 20px;
    }

    &__image {
        width: 100%;
        height: auto;
    }
    &__image:first-of-type {
        margin-bottom: 20px;
    }
}

.footer {
    &__content {
        background-color: $brown-bg-color;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content-left {
        flex-basis: 45%;
        padding-right: 20px;
        padding-top: 55px;
        padding-left: 80px;
    }
    &__title {
        padding-bottom: 33px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    &__image {
        height: auto;
        width: 100%;
    }
    &__input {
        background-color: $brown-bg-color;
        border-bottom: 1px solid $white-text-color;
        padding-bottom: 12px;
    }
    &__input:nth-of-type(2) {
        margin-top: 25px;
    }
    &__input::placeholder {
        color: #f6ede9;
    }
    &__paragraph {
        opacity: 60%;
        padding-bottom: 55px;
    }

    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    }

    &__inner-text {
        flex-basis: 20%;
    }
    &__inner-text--center {
        flex-basis: 60%;
    }
    &__inner-text:last-of-type {
        text-align: end;
    }
}
