$body-text-color: #533738;
$white-text-color: white;
$num-bg-color: #8d7370;
$btn-bg-color: #cc8b86;
$application-text-color: #f6ede9;
$brown-bg-color: #8d7370;
$body-bg-color: #f6ede9;
$pink-bg-color: #e2c4ba;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$screen-xs: 0px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;

body {
    background: $body-bg-color;
    color: $body-text-color;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.container--lg {
    margin: 0 auto;
    @media (max-width: $screen-lg-max) {
        padding: 0 25px 0 25px;
    }
    @media (min-width: $screen-xl) {
        width: 93%;
    }
}
.container--md {
    margin: 0 auto;
    @media (max-width: $screen-lg-max) {
        padding: 0 50px 0 50px;
    }
    @media (min-width: $screen-xl) {
        width: 80%;
    }
}
.title-lg {
    font-size: 50px;
    line-height: 62px;
    @media (max-width: 1400px) {
        font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1400 - 320)));
        line-height: calc(30px + (62 - 30) * ((100vw - 320px) / (1400 - 320)));
    }
}
.title-md {
    font-size: 40px;
    @media (max-width: 1400px) {
        font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1400 - 320)));
    }
}
.title-sm {
    font-size: 30px;
    @media (max-width: 1400px) {
        font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1400 - 320)));
    }
}
.light {
    color: $white-text-color;
}
p {
    line-height: 30px;
    @media (max-width: 1400px) {
        font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1400 - 320)));
        line-height: calc(10px + (30 - 10) * ((100vw - 320px) / (1400 - 320)));
    }
}
.btn {
    background: $btn-bg-color;
    @media (max-width: 1400px) {
        font-size: calc(10px + (18 - 10) * ((100vw - 320px) / (1400 - 320)));
    }
    @media (min-width: $screen-lg) {
        padding: 26px 70px;
    }
    @media (max-width: $screen-md-max) {
        padding: 16px 50px;
    }
}
a {
    color: $body-text-color;
    @media (max-width: 1400px) {
        font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1400 - 320)));
    }
}

.header {
    background: white url("../img/bg-header.png") 0 0 / cover no-repeat;

    &__top {
        padding-top: 35px;
        font-size: 16px;
    }

    &__inner {
        @media (min-width: $screen-lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @media (max-width: $screen-md-max) {
            .header__menu {
                display: none;
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        flex-basis: 15%;
    }
    &__menu {
        flex-basis: 85%;
    }

    &__menu-items {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1400px) {
            font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1400 - 320)));
        }
    }

    &__content {
        @media (min-width: $screen-lg) {
            padding: 100px 0 170px 0;
        }
        @media (max-width: $screen-md-max) {
            padding: 40px 0 50px 0;
        }
    }

    &__content-inner {
        @media (min-width: $screen-lg) {
            max-width: 45%;
        }
        @media (max-width: $screen-md-max) {
            max-width: 60%;
        }
    }
    &__content-text {
        padding: 30px 0;
    }
}

.about {
    @media (min-width: $screen-lg) {
        padding-top: 70px;
    }
    @media (max-width: $screen-md-max) {
        padding-top: 50px;
    }
    &__title {
        text-align: center;
        @media (min-width: $screen-lg) {
            padding-bottom: 50px;
        }
        @media (max-width: $screen-md-max) {
            padding-bottom: 30px;
        }
        @media (max-width: $screen-sm-max) {
            margin: 30px 0 20px 0;
        }
    }

    &__main {
        display: flex;

        @media (min-width: $screen-lg) {
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 20px;
        }
        @media (max-width: $screen-md-max) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 45px;
        }
    }

    &__main-img {
        display: block;
        height: auto;
        @media (min-width: $screen-lg) {
            width: 100%;
        }
        @media (max-width: $screen-md-max) {
            width: 50%;
        }
    }

    &__main-text {
        p:nth-child(2) {
            padding-top: 25px;
        }
        @media (min-width: $screen-lg) {
            padding-left: 65px;
        }
        @media (max-width: $screen-md-max) {
            padding: 0 70px;
            padding-top: 30px;
        }
        @media (max-width: $screen-sm-max) {
            padding: 0 70px;
        }
    }

    &__achievements {
        background: $brown-bg-color;
        @media (min-width: $screen-lg) {
            padding: 90px 0;
        }
        @media (max-width: $screen-md-max) {
            padding: 70px 0;
        }
        @media (max-width: $screen-sm-max) {
            padding: 45px 0;
        }
    }
    &__achievements-items {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

.works {
    @media (min-width: $screen-lg) {
        padding-bottom: 70px;
        padding-top: 65px;
    }
    @media (max-width: $screen-md-max) {
        padding-bottom: 45px;
        padding-top: 40px;
    }
    @media (max-width: $screen-sm-max) {
        padding-bottom: 30px;
        padding-top: 35px;
    }

    &__title {
        @media (min-width: $screen-lg) {
            padding-bottom: 50px;
        }
        @media (max-width: $screen-md-max) {
            padding-bottom: 30px;
        }
        @media (max-width: $screen-sm-max) {
            padding-bottom: 20px;
        }
    }

    &__main {
        display: grid;
        grid-template: 500px 500px / 1fr 22% 1fr;
        grid-template-areas:
            "info-image first-image first-image"
            "second-image second-image third-image";
        grid-auto-flow: dense;
        grid-gap: 20px;
        @media (max-width: $screen-md-max) {
            grid-template-rows: 300px 300px;
            grid-gap: 10px;
        }
        @media (max-width: $screen-sm-max) {
            grid-template-rows: 200px 200px;
            grid-gap: 6px;
        }
    }

    &__info {
        background: url("../img/works-info.png") 0 0 / cover no-repeat;
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        background-color: rgba(100, 72, 69, 0.8);
        h1 {
            text-align: center;
        }

        @media (min-width: $screen-lg) {
            padding: 85px 35px 0;
        }
        @media (max-width: $screen-md-max) {
            padding: 30px 20px 0;
        }
        @media (max-width: $screen-sm-max) {
            padding: 20px 15px 0;
        }
    }
    &__info-text {
        @media (min-width: $screen-md) {
            padding-top: 35px;
        }
        @media (max-width: $screen-sm-max) {
            padding-top: 20px;
        }
    }

    &__image-first {
        background: url("../img/works-image.png") 0 0 / cover no-repeat;
        grid-area: first-image;
    }
    &__image-second {
        background: url("../img/works-image(1).png") 0 0 / cover no-repeat;
        grid-area: second-image;
    }
    &__image-third {
        background: url("../img/works-image(2).png") 0 0 / cover no-repeat;
        grid-area: third-image;
    }
    &__next-block {
        @media (min-width: $screen-md) {
            padding-top: 35px;
        }
        @media (max-width: $screen-sm-max) {
            padding-top: 30px;
        }
    }
    &__next-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__arrow {
        padding-left: 20px;
        padding-top: 5px;
    }
}

.how-works {
    background-color: $pink-bg-color;
    @media (min-width: $screen-lg) {
        padding: 60px 0 80px 0;
    }
    @media (max-width: $screen-md-max) {
        padding: 40px 0 60px 0;
    }
    @media (max-width: $screen-sm-max) {
        padding: 25px 0 25px 0;
    }

    &__team {
        @media (min-width: $screen-md) {
            padding-bottom: 40px;
        }
        @media (max-width: $screen-sm-max) {
            padding-bottom: 25px;
        }
    }

    &__title {
        text-align: center;
        @media (min-width: $screen-lg) {
            padding-bottom: 50px;
        }
        @media (max-width: $screen-md-max) {
            padding-bottom: 30px;
        }
        @media (max-width: $screen-sm-max) {
            padding-bottom: 20px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex-basis: 30%;
    }
    &__item:not(:nth-of-type(3)) {
        margin-right: 15px;
    }

    &__img {
        object-fit: cover;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__item-text {
        margin-top: 20px;
    }

    &__how-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-basis: 23.5%;
        max-width: 400px;
    }
    &__how-number {
        background-color: $num-bg-color;

        @media (min-width: $screen-md) {
            width: 70px;
            height: 70px;
        }
        @media (max-width: $screen-sm-max) {
            width: 50px;
            height: 50px;
        }
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-text-color;
    }
    &__how-text {
        padding-top: 20px;
    }
}

.reviews {
    @media (min-width: $screen-lg) {
        padding: 75px 0 65px 0;
    }
    @media (max-width: $screen-md-max) {
        padding: 45px 0 40px 0;
    }
    @media (max-width: $screen-sm-max) {
        padding: 25px 0 25px 0;
    }

    &__title {
        text-align: center;
        @media (min-width: $screen-lg) {
            padding-bottom: 50px;
        }
        @media (max-width: $screen-md-max) {
            padding-bottom: 20px;
        }
    }

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        background-color: $btn-bg-color;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: $screen-md) {
            min-width: 72px;
            height: 72px;
        }
        @media (max-width: $screen-sm-max) {
            min-width: 50px;
            height: 50px;
        }
    }
    &__btn:nth-of-type(1) {
        margin-right: 25px;
    }
    &__btn:nth-of-type(2) {
        margin-left: 25px;
    }
    .right {
        transform: scale(-1, 1);
    }

    p:not(:first-of-type) {
        @media (min-width: $screen-md) {
            margin-top: 40px;
        }
        @media (max-width: $screen-sm-max) {
            margin-top: 15px;
        }
    }
    &__text {
        padding-right: 20px;
    }

    &__image {
        width: 100%;
        height: auto;
    }
    &__image:first-of-type {
        margin-bottom: 20px;
    }
}

.footer {
    &__content {
        background-color: $brown-bg-color;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content-left {
        @media (min-width: $screen-md) {
            padding: 55px 20px 20px 80px;
            flex-basis: 45%;
        }
        @media (max-width: $screen-sm-max) {
            padding: 20px 20px 10px 0;
        }
    }
    &__title {
        @media (min-width: $screen-md) {
            padding-bottom: 33px;
        }
        @media (max-width: $screen-sm-max) {
            padding-bottom: 20px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    &__image {
        height: auto;
        width: 100%;
    }
    &__input {
        background-color: $brown-bg-color;
        border-bottom: 1px solid $white-text-color;
        padding-bottom: 12px;
    }
    &__input:nth-of-type(2) {
        margin-top: 25px;
    }
    &__input::placeholder {
        color: #f6ede9;
    }
    &__paragraph {
        opacity: 60%;

        @media (min-width: $screen-md) {
            padding-bottom: 55px;
        }
        @media (max-width: $screen-sm-max) {
            padding-bottom: 20px;
        }
    }

    &__bottom-inner {
        display: flex;

        @media (min-width: $screen-lg) {
            padding: 40px 0;
            justify-content: space-between;
        }
        @media (max-width: $screen-md-max) {
            padding: 20px 0;
            flex-direction: column;
            align-items: center;
        }
    }
    p:not(:first-of-type) {
        @media (max-width: $screen-md-max) {
            padding-top: 10px;
        }
    }

    &__inner-text {
        @media (min-width: $screen-lg) {
            flex-basis: 20%;
        }
    }
    &__inner-text--center {
        @media (min-width: $screen-lg) {
            flex-basis: 60%;
        }
    }
    &__inner-text:last-of-type {
        @media (min-width: $screen-lg) {
            text-align: end;
        }
    }
}
